<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/jquery-2.1.1.min.js"></script>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<% gameArray.forEach(function(el, index, arr) { %>
<div class="game clearfix" id=<%= el.name %> >
    <% for (var i=0; i < el.frames.length; i++) { %>
        <div class="frame" id="frame<%= i %>">
            <div class="frameNumber"><%= i+1 %></div>
            <% var shot1 = 0; %>
            <% var shot2 = 0; %>
            <% if (el.frames[i][0] != -1) { %>
            <%   shot1 = el.frames[i][0]; %>
            <% } %>

            <% if (el.frames[i][1] != -1) { %>
            <%   shot2 = el.frames[i][1]; %>
            <% } %>
            <input id="firstShot" class="shot" type="text" value="<%= shot1 %>"/>
            <input id="secondShot" class="shot" type="text" value="<%= shot2 %>" />
            <div class="score"><%= shot1 + shot2 %></div>
        </div>
    <% }%>
</div>
<% }); %>
<script src="javascripts/score.js" ></script>
</body>
</html>
